<div class="footer fixed-bottom">
  <div class="footer-links">
    <a href="https://github.com/Stradies" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/j%C3%A9r%C3%A9my-dumas-371242145/" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i>
  </div>
</div>
