<div class="navbar-expand-sm navbar-portfolio">
  <div class="mr-2">
    <%= image_tag "raphael.svg", height: 50, width: 50, alt: "raphael" %>
  </div>
  <div>
    <h1> <span>JEREMY</span> DUMAS</h1>
  </div>
</div>
