<ul class="card-list">

  <li class="card">
    <a class="card-image" href="http://colibrii.herokuapp.com/" target="_blank">
      <%= image_tag "colibri.png", alt: "alttext" %>
    </a>
    <a class="card-description" href="https://michellezauner.bandcamp.com/album/psychopomp-2" target="_blank">
      <h2>Colibri</h2>
      <p>Appli écologique</p>
    </a>
  </li>

  <li class="card">
    <a class="card-image" href="https://perfectfield.herokuapp.com/" target="_blank">
      <%= image_tag "https://images.unsplash.com/photo-1507311036505-05669fc503cb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1401&q=80", alt: "Perfect Field" %>
    </a>
    <a class="card-description" href="https://inlovewithaghost.bandcamp.com/album/lets-go" target="_blank">
      <h2>Perfect Field</h2>
      <p>Location de moissonneuse batteuse</p>
    </a>
  </li>

  <li class="card">
    <a class="card-image" href="#" target="_blank">
      <img src="https://images.unsplash.com/photo-1509358271058-acd22cc93898?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="The Beautiful Game" />
    </a>
    <a class="card-description" href="https://vulfpeck.bandcamp.com/album/the-beautiful-game" target="_blank">
      <h2>Chanda Mama</h2>
      <p>Cours de cuisine indienne (à venir...)</p>
    </a>
  </li>

  <li class="card">
    <a class="card-image" href="#" target="_blank">
      <img src="https://images.unsplash.com/photo-1545389336-cf090694435e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80" alt="Jane Doe" />
    </a>
    <a class="card-description" href="https://convergecult.bandcamp.com/album/jane-doe" target="_blank">
      <h2>Yogi Yoga</h2>
      <p>Cours de yoga (à venir...)</p>
    </a>
  </li>

</ul>
