<ul class="card-list">

  <li class="card">
    <a class="card-image" href="https://chanda-papa.herokuapp.com/" target="_blank">
      <%= image_tag "Chanda-papa.png", alt: "Chanda Papa" %>
    </a>
  </li>

  <li class="card">
    <a class="card-image" href="http://colibrii.herokuapp.com/" target="_blank">
      <%= image_tag "colibri.png", alt: "alttext" %>
    </a>
  </li>

  <li class="card">
    <a class="card-image" href="https://perfectfield.herokuapp.com/" target="_blank">
      <%= image_tag "perfect-field.png", alt: "Perfect Field" %>
    </a>
  </li>

  <li class="card">
    <a class="card-image" href="#" target="_blank">
      <img src="https://images.unsplash.com/photo-1545389336-cf090694435e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80" alt="Jane Doe" />
    </a>
  </li>

</ul>
