.navbar-portfolio {
  display: flex;
  justify-content: right;
  align-items: center;
  background: white;
  padding-top: 3%;
  padding-left: 3%;
}

.navbar-portfolio h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 3em;
  color: #231f20;
  margin: 0px;
}

.navbar-portfolio h1 span {
  color: #a0a0a0;
}
